[package]
name = "usls"
version = "0.0.12"
edition = "2021"
description = "A Rust library integrated with ONNXRuntime, providing a collection of ML models."
repository = "https://github.com/jamjamjon/usls"
authors = ["Jamjamjon <jamjamjon.usls@gmail.com>"]
license = "MIT"
readme = "README.md"
exclude = ["assets/*", "examples/*", "scripts/*", "runs/*"]

[dependencies]
clap = { version = "4.2.4", features = ["derive"] }
ndarray = { version = "0.16.1", features = ["rayon"] }
ort = { version = "2.0.0-rc.5", default-features = false, features = [
    "load-dynamic",
    "copy-dylibs",
    "half",
    "cann",
    "rknpu",
    "ndarray",
    "cuda",
    "tensorrt",
    "coreml",
    "openvino",
    "rocm",
    "openvino",
    "operator-libraries"
]}
anyhow = { version = "1.0.75" }
regex = { version = "1.5.4" }
rand = { version = "0.8.5" }
chrono = { version = "0.4.30" }
half = { version = "2.3.1" }
dirs = { version = "5.0.1" }
ureq = { version = "2.9.1", default-features = true, features = [
    "socks-proxy",
] }
walkdir = { version = "2.5.0" }
tokenizers = { version = "0.15.2" }
rayon = "1.10.0"
indicatif = "0.17.8"
image = "0.25.2"
imageproc = { version = "0.24" }
ab_glyph = "0.2.23"
geo = "0.28.0"
prost = "0.12.4"
human_bytes = "0.4.3"
fast_image_resize = { version = "4.2.1", features = ["image"]}


[dev-dependencies]
criterion = "0.5.1"

[[bench]]
name = "yolo"
harness = false

[lib]
bench = false
