[package]
name = "usls"
edition = "2021"
version = "0.1.6"
rust-version = "1.85"
description = "A Rust library integrated with ONNXRuntime, providing a collection of ML models."
repository = "https://github.com/jamjamjon/usls"
authors = ["Jamjamjon <xxyydzml@outlook.com>"]
license = "MIT"
readme = "README.md"
exclude = ["assets/*", "examples/*", "runs/*", "benches/*", "tests/*"]


[dependencies]
paste = "1.0.15"
anyhow = { version = "1" }
aksr = { version = "0.0.6" }
ab_glyph = { version = "0.2.29" }
image = { version = "0.25" }
imageproc = { version = "0.25" }
ndarray = { version = "0.16.1", features = ["rayon", "serde"] }
indicatif = { version = "0.18" }
log = "0.4.26"
minifb = { version = "0.28.0", optional = true }
rand = { version = "0.9" }
http = "1.3"
ureq = { version = "3" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
rayon = { version = "1.10.0" }
glob = "0.3.2"
dirs = "6.0.0"
chrono = "0.4.40"
regex = "1.11.1"
tempfile = "3.19.1"
video-rs = { version = "0.10.3", features = ["ndarray"], optional = true }
fast_image_resize = { version = "=5.1.4", features = ["image", "rayon"] }
ndarray-npy = "0.9.1"
half = { version = "2.6.0", features = ["bytemuck", "num-traits"] }
prost = "0.14.1"
ort = { version = "=2.0.0-rc.10", default-features = false, optional = true, features = [
  "copy-dylibs",
  "half",
  "std",
] }
hf-hub = { version = "0.4.3", default-features = false, features = ["ureq", "native-tls"] }
tokenizers = { version = "0.22.1" }
slsl = { version = "0.0.7", features = ["rayon"] }


[dev-dependencies]
argh = "0.1.13"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "chrono"] }


[features]
default = [ "ort-download-binaries", "viewer" ]
serde = []
video = [ "dep:video-rs" ]
ort-download-binaries = [ "ort", "ort/download-binaries" ]
ort-load-dynamic = [ "ort", "ort/load-dynamic" ]
cuda = [ "ort/cuda" ]
tensorrt = [ "ort/tensorrt" ]
coreml = [ "ort/coreml" ]
openvino = [ "ort/openvino" ]
onednn = [ "ort/onednn" ]
directml = [ "ort/directml" ]
xnnpack = [ "ort/xnnpack" ]
cann = [ "ort/cann" ]
rknpu = [ "ort/rknpu" ]
acl = [ "ort/acl" ]
rocm = [ "ort/rocm" ]
nnapi = [ "ort/nnapi" ]
armnn = [ "ort/armnn" ]
tvm = [ "ort/tvm" ]
qnn = [ "ort/qnn" ]
migraphx = [ "ort/migraphx" ]
vitis = [ "ort/vitis" ]
azure = [ "ort/azure" ]
viewer = [ "dep:minifb" ]


[[example]]
name = "read_video"
required-features = ["video"]

[[example]]
name = "imshow"
required-features = ["viewer"]
